<%- include('./partials/head') %>

    <! HEAD -->
    <%- include('./partials/head') %>
    <! HEAD -->

<body>
            <! HEADER -->
            <%- include('./partials/header') %>
            <! HEADER -->

        <main>
            <div class="producto-container">
                <h2>Editar Producto</h2>
                <form method="POST" action="/products/edit/<%=producto.id%>?_method=PUT">
                    <label for="nombre">Nombre</label><br>
                    <input type="text" name="name" id="nombre" value="<%= producto.name %>"><br>
                    <label for="descripcion">Descripcion</label><br>
                    <input type="text" name="description" id="descripcion" value="<%= producto.description %>"><br>
                    <label for="categoria">Categoria</label><br>
                    <input type="text" name="category" id="categoria" value="<%= producto.category %>"><br>
                    <label for="precio">Precio</label><br>
                    <input type="number" name="price" id="precio" value="<%= producto.price %>"><br>
                    <label for="color">Colores</label><br>
                    <input type="text" name="colors" id="color" value="<%= producto.colors %>"><br>
                    <br>
                    <button class="btn btn-dark" type="submit">Editar producto</button>
                </form>
            </div>
       
            <%- include('./partials/footer') %>
        </main>
</body>